.subscriptionsPage {
    width: 100%;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__titleContainer {
        width: 100%;
        margin-top: 24px;
    }

    &__title {
        font-weight: 700;
        line-height: 32px;
        font-size: var(--title-base-size);
        color: var(--text-gray-darck-color);
    }

    &__seartch {
        width: 100%;
        margin-top: 24px;
    }

    &__users {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 48px;
    }
}
