.TabsChoice {
    width: 100%;
    &__container {
        background-color: var(--gray-light-color);
        padding: 4px;
        display: flex;
        border-radius: var(--big-border-radius);
    }

    &__container > a:not(:last-child) {
        margin-right: 4px;
    }

    &__tab {
        width: 100%;
    }

    &__link {
        width: 100%;
    }
}
