.TextArea {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__container {
        width: 100%;
        height: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
    }

    &__container:before {
        content: '';
        background: url('../../../public/icons/resize.svg') center center
            no-repeat;
        background-size: 24px;
        background-repeat: no-repeat;
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 8px;
        right: 5px;
        pointer-events: none;
    }

    &__label {
        font-weight: 400;
        line-height: 24px;
        font-size: var(--text-base-size);
        color: var(--text-gray-darck-color);
        margin-bottom: 4px;
    }

    &__img {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 2px;
        top: 34px;
        cursor: pointer;
    }

    &__iconCross {
        height: 100%;
        width: 100%;
        filter: invert(99%) sepia(14%) saturate(285%) hue-rotate(181deg) brightness(104%) contrast(87%);
    }

    &__main {
        width: 100%;
        height: 100%;
        padding: 5px 8px 5px 8px;
        border-radius: var(--base-border-radius);
        gap: 8px;
        box-shadow: inset 0px 0px 0px 1px var(--gray-light-color);

        font-weight: 400;
        line-height: 24px;
        font-size: var(--text-base-size);
        resize: vertical;

        flex-grow: 1;
    }

    textarea::-webkit-resizer {
        display: none;
    }
}
