.newsPage {
    width: 100%;
    height: 100%;
    &__container {
        margin-top: 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__titleConteiner {
        width: 100%;
        margin-bottom: 24px;
    }
    &__title {
        font-weight: 700;
        line-height: 32px;
        font-size: var(--title-base-size);
        color: var(--text-gray-darck-color);
    }
    &__posts {
        width: 100%;
        margin-bottom: 40px;
    }
    &__filter {
        width: 100%;
        margin-bottom: 24px;
    }
}
