@charset "UTF-8";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

/*vars*/
:root {
    /* color */
    --base-black-60per-color: #00000099;
    --base-black-30per-color: #0000004d;
    --base-black-10per-color: #0000001a;

    --base-white-color: #ffffff;
    --base-gray-color: #666666;
    --gray-light-color: #dbe2e6;
    --gray-light-graphity-color: #323232;
    --gray-light-theme-gray-color: #f1f5f7;
    --main-light-color: #651fff;
    --main-darck-color: #5218d0;

    --status-danger-color: #fb4e4e;    
    --status-light-danger-color: #ffbfbf;
    --status-light-success-color: #2bc945;
    --text-gray-darck-color: #312c3a;
    --text-link-defualt-color: #2ba3fb;
    --heading-title-color: #152536;
    --layout-color: #f8f8f8;

    /* size */
    --post-base-text-size: 16px;
    --title-base-size: 24px;
    --subtitle-base-size: 18px;

    --text-base-size: 16px;
    --text-medium-size: 14px;
    --text-big-size: 18px;
    --text-small-size: 12px;

    /* radius */
    --base-border-radius: 12px;
    --big-border-radius: 16px;
    --small-border-radius: 8px;
}

/*null style*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body > #root {
    height: 100%;
    width: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
