.LoginForm {
    &__container {
        display: flex;
        flex-direction: column;
    }
    
    &__input {
		margin-bottom: 24px;
    }

    &__checkBox {
		margin-bottom: 32px;
    }

    &__button {
      margin-bottom: 40px;
    }
}
