.Header {
    width: 100%;
    background-color: var(--base-white-color);
    position: fixed;
    z-index: 10000;
    overflow:auto;
    
    &__container {
        width: 100%;
        height: 50px;
        padding: 8px 16px 8px 16px;
        border-bottom: 1px solid var(--gray-light-color);
        display: flex;
    }

    &__logo {
        flex: 0 0 20%;
		display: flex;
		align-items: center;
    }

    &__tabs {
        flex: 0 0 80%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__imgLogo {
        width: 36px;
        height: 36px;
    }

    &__imgMenu {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    &__imgAvata {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    &__login:has(&__imgAvata) {
        width: 36px;
        height: 36px;
    }

    &__login {
        margin-right: 16px;
        width: 64px;
        height: 34px;
    }

    &__menu {
    }
}
