.ProfilePaperSlideEditPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  var(--base-white-color);

    &__container {
        width: 360px;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__button {
        margin-top: 8px;
        margin-bottom: 16px;
        width: max-content;
        margin-left: -8px;
    }

    &__title {
        font-weight: 700;
        line-height: 32px;
        font-size: var(--title-base-size);
        color: var(--text-gray-darck-color);
        margin-bottom: 24px;
    }
}
