.Layout {
    //height: 100%;
    width: 100%;
    font-family: 'Nunito';

    &__container {
        //height: 100%;
        width: 360px;
        position: relative;
    }
}

.Page {
    background-color: var(--layout-color);

    &__container {
        padding-top: 52px;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__Auth_bg {
        background-color: var(--base-white-color);
    }
}
